In [10]:
[n * 2  for n in range(1, 10+1) if n % 2 == 1 ]

[2, 6, 10, 14, 18]

In [5]:
lst = []
for n in range(1, 11):
    if n % 2 == 1:
        lst.append(n*2)
        
lst

[2, 6, 10, 14, 18]

In [ ]:
from collections import OrderedDict

In [11]:
new = {"a": "abc", "d": "def"}

In [13]:
key, value = new.items()

In [16]:
new1 = {}
for key, value in new.items():
    print(key, value)
    new1[value] = key
    
new1

a abc
d def

{'abc': 'a', 'def': 'd'}

In [17]:
{value: key for key, value in new.items()}

{'abc': 'a', 'def': 'd'}

In [19]:
[i for i in range(1, 100)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [20]:
# 
a = [n for n in range(100000)]
b = range(100000)

b[999]

999

In [21]:
a[999]

999

In [23]:
lst = [1,2,3,4]
list(enumerate(lst[1:3]))

[(0, 2), (1, 3)]

In [25]:
lst[1:3]

[2, 3]

In [27]:
for i, value in enumerate(lst):
    print(f"{i}th value : {value}")

0th value : 1
1th value : 2
2th value : 3
3th value : 4

In [28]:
for i in range(len(lst)):
    print(f"{i}th value : {lst[i]}")

0th value : 1
1th value : 2
2th value : 3
3th value : 4

In [29]:
# 정규표현식
import re

In [ ]:
def foo(a=1, b=[]):
    pass

In [ ]:
def foo(a: int, b: Optional[Sequence] = None):
    pass